@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Abrade";
  src: url("./fonts/Abrade-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
h3, h1 {
  font-family: "Abrade", sans-serif;
}
